body{
    margin: 0;
    background-color: #F1F1F1;
}
.container{
    display:flex;
    flex-direction: column;
    height:100vh;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 52px;
    color:whitesmoke;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
h2{
    font-size: 36px;
    font-family: 'Oswald', sans-serif;

}
h3{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}
.me > h2{
    color: whitesmoke;
    margin: 10px;
}
.info > img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    justify-content: center;
}
p{
    font-size: 18px;
    margin: 15px 5%;
    font-family: 'Montserrat', sans-serif;
}
.info>p{
    margin-left:20% ;
    margin-right: 20%;
    text-align: center;
}
.info>a{
    color:blueviolet;
    font-size: 18px;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
}
#skills{
    margin-bottom: 100px;
}
.skl>h3 {
    width:90%;
    margin-bottom:5px;
}
.skl>h2{
    margin-bottom:50px;
}
.pro{
    justify-content:start;
    margin-top: 20px;
    height:100%;
    margin-bottom:200px;
}
.pro > h3{
    width:90%
}
.pro>h3>span{
    font-size: 19px;
    color: rgb(46, 44, 44);
}
.touch{
    justify-content:center;
    background-color: #181224;
    color: antiquewhite;
}
.touch > p{
    width: 60%;
    text-align: center;
}
.touch > a {
        background-color:#EDF0F3;
        border: none;
        color: black;
        margin-top: 50px;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-decoration:none;
        font-family: 'Oswald', sans-serif;
}
.touch > a:hover {
 background-color: black;
 color: antiquewhite;
}
#footer{
    background-color: #A1A19F;
}
.foot{
    height: 200px;
}
footer > ul{
    list-style: none;
    width: 100%;
}
footer li{
    display: inline-block;
    padding:0 50px;
    text-align: center;
    color:black;
}
footer li>a{
    text-decoration:none;
    color: black;
    font-family: 'Oswald', sans-serif;
}
footer li>a:hover{
    color: antiquewhite;
}
.copyright{
    display: block;
    color:antiquewhite;
    margin:50px 0 0 0;
}
p.copyright{
    font-size: 14px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}